

<div class="memory-game">
    
    <div id="game-block">
        <div id="header">
            <div id="moves">Moves : 0</div>
            <div id="refresh" (click)="refreshTable()"><i class="fa fa-refresh" aria-hidden="true"></i></div>
            <div id="time">Time 0:S</div>
        </div>
        <div id="game-blocks">
            <!-- <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div>
            <div class="blocks">
                <div class="game-icon"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i></div>
            </div> -->
            </div>
            <div id="game-instructions" (click)="openInstructions()">INSTRUCTIONS</div>
    </div>
</div>